body {
    background-color: #040D12;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #93B1A6;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.child {
    text-align: center;
}

.parent2 {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 10px;
}

.child2 {
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #183D3D;
}

h2 {
    font-size: 50px;
    color: #183D3D;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    color: #93B1A6;
}

input {
    width: 100px;
    background-color: #183D3D;
    color: #93B1A6;
    border-width: 0px;
    border-radius: 2px;
    padding: 3px;
}

select {
    appearance: none;
    background-color: #183D3D;
    color: #93B1A6;
    padding: 3px 5px;
    border-width: 0px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    min-width: 60px;
}

button {
    background-color: #183D3D;
    color: #93B1A6;
    border-width: 0px;
    border-radius: 2px;
    padding: 3px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus
{
    border: 1px solid #5C8374;
    box-shadow: 0 0 3px #5C8374;
    outline-offset: 0px;
    outline: none;
}

select:focus
{
    border: 1px solid #5C8374;
    box-shadow: 0 0 3px #5C8374;
    outline-offset: 0px;
    outline: none;
}

button:focus
{
    border: 1px solid #5C8374;
    box-shadow: 0 0 3px #5C8374;
    outline-offset: 0px;
    outline: none;
}